<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
-->

{% if pageCount > 1 %}

    <div class="pagination">
        <ul>
            {% if previous %}
                <li><a href="{{ url(route, {page: previous}|merge(routeParams)) }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page == current %}
                    <li class="active"><a href="{{ url(route, {page: page}|merge(routeParams)) }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ url(route, {page: page}|merge(routeParams)) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next %}
                <li><a href="{{ url(route, {page: next}|merge(routeParams)) }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>

{% endif %}
