{{ docType() }}
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
        {{ headTitle('Admin panel') }}
    {% endblock %}

    {% block meta %}
        {% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %}
        {{ headMeta() }}
    {% endblock %}

    {% block link %}
        {{ headLink() }}
    {% endblock %}

    {% block headscript %}
        {{ headScript() }}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url('home') }}">Admin panel</a>
                <div class="nav-collapse collapse">
                    {{ navigation('navigation').menu().setPartial('partial/menu.twig')|raw }}

                    <ul class="nav right">
                        <li><a href="{{ url('zfcuser') }}">{{ zfcUserIdentity().getEmail() }}</a></li>
                        <li><a href="{{ url('zfcuser/logout') }}">выйти</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="span3">
                <div class="well sidebar-nav">
                    {{ navigation('admin-navigation').menu().setUlClass('nav nav-list').setPartial('')|raw }}
                </div>
            </div>
            <div class="span9">
                {% block content %}{{ content|raw }}{% endblock content %}
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; {{ date().format('Y') }} </p>
        </footer>
    </div> <!-- /container -->


    {% block inlinescript %}
        {{ inlineScript() }}
    {% endblock %}

    {% block inline %}{% endblock inline %}
</body>
</html>
