{{ docType() }}
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}
        {{ headTitle('Admin panel') }}
    {% endblock %}

    {% block meta %}
        {% do headMeta('viewport', 'width=device-width, initial-scale=1.0') %}
        {{ headMeta() }}
    {% endblock %}

    {% block link %}
        {{ headLink() }}
    {% endblock %}

    {% block headscript %}
        {{ headScript() }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="span3 sidebar">
            <a class="logo" href="{{ url('home') }}">Admin panel</a>

            <div class="sidebar-nav">
                {{ navigation('admin-navigation').menu().setUlClass('nav nav-list').setPartial('')|raw }}
            </div>
        </div>
        <div class="span10 content">
            {% block content %}{{ content|raw }}{% endblock content %}
        </div>
    </div>
</div>
<!-- /container -->


{% block inlinescript %}
    {{ inlineScript() }}
{% endblock %}

{% block inline %}{% endblock inline %}
</body>
</html>
